[package]
name = "goblin-signing"
license = "MIT"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/RaitoBezarius/goblin-signing"

[dependencies]
digest = { version = "0.10.6", features = [ "alloc" ] }
# waiting for a release of goblin
goblin = { git = "https://github.com/RaitoBezarius/goblin.git", branch = "write-certs" }
cms = { git = "https://github.com/RustCrypto/formats", features = [ "builder" ] }
der = { version = "0.7.7", default-features = false }
x509-cert = { version = "0.2.3" }
const-oid = { version = "0.9.3", features = [ "db" ] }
sha2 = "0.10.6"
signature = "2.1.0"

[[example]]
name = "sign_binary"

[[example]]
name = "verify_binary"
